<p>Hello {{user.firstName}}</p>
<p>Please don't share your otp with any one</p>
<p>
  <h2>Your verification code is :</h2>
  <h4>{{token}}</h4>
</p>
<p>If you are already activated your email you can safely ignore it.</p>